.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background: linear-gradient(to right, #1565C0, #0D47A1, #0A2472);
  width: 100%;
  box-sizing: border-box;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.navbar-logo {
  font-size: 20px;
  font-weight: bold;
  color: #f4c430;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  color: #90CAF9;       
  font-size: 20px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.navbar-link {
  font-size: 16px;
  cursor: pointer;
}

.logo-img {
  height: 60px;
  width: auto;
  object-fit: contain;
  display: block;
}
