.tabs-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 16px 0;
}

.tab-btn {
  padding: 8px 18px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  background-color: #dfe6ef;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tab-btn.active {
  background-color: #ffdb26;
  color: #000;
}
